@charset "ISO-8859-1";
* {
	margin: 0;
	padding: 0;
}
html, body 
{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;	background-color: black;
}

main {
    width: 100%;
    min-height: 50vw;
    margin: auto;
	background-color: #2A2C31;
	overflow-x: hidden;
}


/****************************************************
_   _               _                
| \ | |             | |               
|  \| | __ ___   __ | |__   __ _ _ __ 
| . ` |/ _` \ \ / / | '_ \ / _` | '__|
| |\  | (_| |\ V /  | |_) | (_| | |   
\_| \_/\__,_| \_/   |_.__/ \__,_|_|   
												
****************************************************/
#Navigation{
	background-color: transparent;
	width: 100%;
	height: 2vw;
	padding-left: 24px;
	padding-right: 24px;
	padding-bottom: 4vw;
	position: fixed;
	top: 0px;
	z-index: 999999;
	background-image: url("../images/Logo.png");
	background-repeat: no-repeat;
	background-position: left;
	background-position-x: 1vw;
	font-size:1vw;

	background-size: 3vw;
}

#menuNav {
	width: fit-content;
	float: right;
}

#menuNav  ul {
	display: flex;
	margin-left: 230px;
}
#menuNav li {
	display: table-cell;
}

#menuNav a, #menuNav span {
	font-weight: 700;
	color: white;
	text-decoration: none;
	min-width: 40px;
	min-height: 40px;
	display: block;
	line-height: 40px;
	margin-right: 1vw;
	transition: all 0.2s ease-in-out;
}
#menuNav #connexion {
	background-image: url("../images/Login.png");
	background-repeat: no-repeat;
	width:2vw;
	height: 2vw;
	background-size: 2vw;
	background-position-y: 1vw;
}

/**SideNav left**/

nav#menuNavLeft.menuNavLeft {
    background-color: #271B58;
    display: flex;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
	padding-right: 10vh;
	padding-left: 8vh;
	text-decoration : none;
}

nav#menuNavLeft.menuNavLeft li {
	list-style: none;
	cursor: pointer;
	padding:1vw;
}


nav#menuNavLeft.menuNavLeft li#AccueilEleves,nav#menuNavLeft.menuNavLeft li#cours,nav#menuNavLeft.menuNavLeft li#classement,nav#menuNavLeft.menuNavLeft li#diplomes,nav#menuNavLeft.menuNavLeft li#MonCompte,nav#menuNavLeft.menuNavLeft li#Duels, nav#menuNavLeft.menuNavLeft li#connexion
{
	background-repeat: no-repeat;
	background-size: 1.5vw;
	background-position: left;
	background-position-y: center;
}
nav#menuNavLeft.menuNavLeft li#AccueilEleves
{
	background-image: url("../images/Calendar.png");
}

nav#menuNavLeft.menuNavLeft li#cours
{
	background-image: url("../images/Board.png");
}
nav#menuNavLeft.menuNavLeft li#classement
{
	background-image: url("../images/LeaderBoard.png");
}
nav#menuNavLeft.menuNavLeft li#diplomes
{
	background-image: url("../images/Diploma.png");
}
nav#menuNavLeft.menuNavLeft li#MonCompte
{
	background-image: url("../images/User.png");
}

nav#menuNavLeft.menuNavLeft li#Duels
{
	background-image: url("../images/VS.png");
}

nav#menuNavLeft.menuNavLeft li#connexion
{
	background-image: url("../images/Deconnection.png");
}

nav#menuNavLeft.menuNavLeft li#MetaCampus{
	font-weight: bold;
	padding-bottom: 10vh;
	font-size: 20;
}

nav#menuNavLeft.menuNavLeft li#connexion{
	margin-top: 40vh;
}

nav#menuNavLeft.menuNavLeft span{
	margin-left:1vw;
}
nav#menuNavLeft.menuNavLeft a {
	color: azure;
	margin-top: 1vh;
	text-decoration: none;
}

nav#menuNavLeft.menuNavLeft a:hover{
	color:red;
}

/**navTopCon**/

#menuNavTop{
	background-color: transparent;
	width: calc(100% - 48px);
	height: 2vw;
	padding-left: 24px;
	padding-right: 24px;
	padding-bottom: 24px;
	position: fixed;
	top: 0px;
	z-index: 999999;
	background-repeat: no-repeat;
	background-position: left;
	background-position-x: 1vw;
	font-size:1vw;

	background-size: 3vw;
}

#menuNavTopCon {
	width: fit-content;
	float: right;
}

#menuNavTopCon  ul {
	display: flex;
	margin-left: 230px;
}
#menuNavTopCon li {
	display: table-cell;
}

#menuNavTopCon a, #menuNavTopCon span {
	text-align: center;
	font-weight: 700;
	color: white;
	text-decoration: none;
	min-width: 40px;
	min-height: 40px;
	display: block;
	margin-right: 1vw;
	transition: all 0.2s ease-in-out;
	padding-bottom: 1vw;
}

#menuNavTopCon #recherche,#menuNavTopCon #autre,#menuNavTopCon #comptes, #menuNavTopCon #notifications
{
	background-repeat: no-repeat;
	background-size: 2vw;
	background-position-y: center;
}
#menuNavTopCon  #comptes {
	background-image: url("../images/Login.png");
}
#menuNavTopCon #recherche
{
	background-image: url("../images/Search.png");
}

#menuNavTopCon #autre
{
	background-image: url("../images/Table.png");
}

#menuNavTopCon #notifications
{
	background-image: url("../images/Notif.png");
}


/****************************************************
______          _            
|  ___|        | |           
| |_ ___   ___ | |_ ___ _ __ 
|  _/ _ \ / _ \| __/ _ \ '__|
| || (_) | (_) | ||  __/ |   
\_| \___/ \___/ \__\___|_|  

****************************************************/


footer .footerdown a {
	text-decoration: none;
}

form#fFooter.fFooter
{
	background-color: black;
}

footer .footerdown {
    padding-top: 1vw;
    margin-bottom: 2vw;
    text-align: center;
    font-size: 1vw;
    display: flex;
    flex-direction: column;
    height: 4vw;
	color: white;
}

#LogoFooterContent
{
	display: flex;
	width:100vw;
	height: 40vw;
	margin-bottom:2vw;
}

#LogoFooter1, #LogoFooter2, #LogoFooter3, #LogoFooter4
{
	width:25vw;
}

#fFooter img{
	width:8vw;
	height : 6vw;
}

#LogoFooter3, #LogoFooter1
{
	filter:invert(100%)
}

footer label{
	padding-bottom:2vw;
}

/*****************************************************************************Accueil***************************************************************/
/**************************************************************************************************************************************************/

#topAccueil
{
	height : 50vw;
	display: flex;
	flex-direction: row;
	background-image: url("../images/TopAccueil.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#TopTexte
{
	padding-top:10vw;
	height:10vw;
	width:40vw;
	margin-left:10vw;
	color:white;
}

#TopTexte h1{
	font-size:5vw;
	font-weight: bold;
}

#TopTexte h2{
	font-size:2vw;
	margin-top:3vw;
	font-weight: 600;
}

#TopTexte h3{
	font-size:1.5vw;
	margin-top:3vw;
	font-weight: 400;
	margin-bottom: 2vw;
}

#bodyAccueil
{
	height : 50vw;
	color : white;
}

#bouttonAccueil, #bouttonAccueilBuy
{
    font-weight: 900;
    font-size: 1vw;
    height: 3vw;
    color: #fff;
    letter-spacing: 1px;
    border-radius: 100px;
    justify-content: center;
    border: none;
    cursor: pointer;
	width : 15vw;
	background: #000428; /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, rgb(149,24,245), rgb(39,27,88)); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, rgb(149,24,245), rgb(39,27,88)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
	box-shadow: 0 12px 24px -6px rgb(255 74 158 / 20%);
	padding: 12px 32px;
}

#bodyAccueil
{
	background-image: url("../images/AccueilBlock1.jpg");
	background-size: cover;
	background-repeat: round;
	height: 57vw;
}

#AccueilBlock1
{
	width:max-content;
	margin: auto;
	font-weight: bold;
	letter-spacing: 5px;
	margin-bottom:2vw;
	font-size:2vw;
}
#AccueilBlock1 h1
{
	margin:0px;
}
#AccueilBlock2
{
	width:max-content;
	margin: auto;
	margin-top:4vw;
	width:50vw;
	text-align: center;
	font-size:1.2vw;
}
#AccueilBlock3,#AccueilBlock4
{
	width: 50vw;
}

#AccueilBlock4 img
{
  width:35vw;
  height:30.8vw;
  right:2vw;
  position :absolute;
  z-index: 99;
}

#AccueilBlock3 video{
	width:47vw;
	margin-left:27vw;
}

#AccueilBlock3-4
{
	display: flex;
	margin-top: 5vw;
}

#bodyAccueil2
{
	display:flex;
	flex-direction: column;
	height:70vw;
	color:white;
	background-image: url("../images/BodyAccueil2.jpg");
	background-size: cover;
	background-repeat: round;
	background-position: center;
}

#bodyAccueil2 h1, #bodyAccueil3 h1
{
	padding-top:1vw;
	padding-bottom:1vw;
	font-size:2vw;
	width:max-content;
	margin:auto;
	letter-spacing: 5px;
}

#bodyAccueil2 h2, #bodyAccueil3 h2
{
	font-size:1.5vw;
	width:50vw;
	margin:auto;
	text-align: center;

}

#First , #Second
{
	width : 100vw;
	height:40vw;
	margin:auto;
	display: flex;

}

#First-Block1, #First-Block2, #First-Block3, #Second-Block1, #Second-Block2, #Second-Block3
{
	width: 30vw;
	margin-right:2vw;
}

#First img, #Second img{
	margin-left:8.5vw;
	width:15vw;
}

#First h2, #Second h2{
	width:25vw;
}

#bodyAccueil3
{
	height:50vw;
	background-image: url("../images/BodyAccueil3.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	color:white;
	margin: auto;
}

#TarifContent
{
	display: flex;
	width:60vw;
	margin:auto;
	margin-top:5vw;
}

#PrixTarifGauche, #PrixTarifDroite
{
	height:30vw;
	width:30vw;
	background-color:black;
	border-radius:10px;
}

#PrixTarifGauche
{
	background: #000428; /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, rgb(149,24,245), rgb(39,27,88)); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, rgb(149,24,245), rgb(39,27,88)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#PrixTarifGauche h1, #PrixTarifDroite h1
{
	font-size : 2vw;
	font-weight: bold;
	background: -webkit-linear-gradient(rgb(99, 97, 97),#eee);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#PrixTarifGauche h2,#PrixTarifDroite h2
{
	font-size : 3vw;
	font-weight: bold;
	width: max-content;
	margin: auto;
	margin-bottom:3vw;	
}

#PurchaseContent{
	width: max-content;
	margin-top: 1vw;
	margin-left: auto;
	margin-right: auto;
}

#PurchaseItems h2{
	background-color: transparent;
    width: 100%;
	height:3vw;
    outline: 0;
    font-size: 1vw;
	border-width: 0.2vw;
	text-align: center;
	vertical-align: middle;
	margin-bottom:0px;
	padding-top:1vw;
	background-image: url("../images//Check.png");
	background-size: 2vw;
	background-repeat: no-repeat;
	background-position-x: 27vw;
	background-position-y: center;
}


/*************************************************************************************************

										CONNEXION

**************************************************************************************************/
#mainConnexion
{
	background-image: url("../images/BgConnexion.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height:60vw;
	padding-top:7vw;
}

div.contentConnexion
{
	width:50%;
	margin-left:25.5vw;
	text-align:center;
	height:30vw;
	align-items: center;
}

div.connexion
{
	height:30vw;
}

.contentConnexion #MidConnexion h2
{
	width:50%;
	margin-left: 30%;
}

.contentConnexion #GaucheConnexion 
{
	width : 50%;
	height:inherit;
	background-image: url("../images/Connexion.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: 10px;
}

.contentConnexion #DroiteConnexion 
{
	width : 50%;
	background-color: white;
	border-radius: 10px;
}

.contentConnexion #MidConnexion
{
	display: flex;
	flex-direction: row;
	margin-top:6vw;
}

.contentConnexion #DroiteConnexion h1
{
	margin-top:20%;
	margin-bottom:10%;
	width: fit-content;
	margin-left: 1vw;
	font-size: 2vw;
}

.contentConnexion #DroiteConnexion h2
{
	margin-left:5%;
	text-align: left;
	font-size:1vw;
}

.contentConnexion #DroiteConnexion input[type=text], .contentConnexion #DroiteConnexion input[type=Password]
{
    background-color: transparent;
    width: 90%;
    border-color: transparent transparent #ccc transparent;
    padding-bottom: 1%;
    outline: 0;
    font-size: 1vw;
	margin-bottom:2vw;
	border-width: 0.2vw;
	margin-top: 1vw;
}

.contentConnexion #DroiteConnexion input[type=submit]
{
	background-color: transparent;
	border: none;
	font-weight: bold;
	font-size: 1vw;
	color: white;
	width: 10vw;
	height: 2vw;
}

.contentConnexion #ContentSubmitConnexion 
{
	width: 10vw;
	height: 2vw;
	font-size: 1.3rem;
	font-family: arial, sans-serif;
	font-weight: 700;
	position: relative;
	color: white;
	z-index: 0;
	background: black;
	overflow: hidden;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
	margin-top:1vw;
}


.contentConnexion #ContentSubmitConnexion::before
{
	content: '';
	position: absolute;
	top: 2vw;
	left: 0;
	width: 100%;
	height: 100%;
	background: #892cdc;
	border-radius: 50% 50% 0% 0%;
	z-index: -1;
	transition: all .5s;
}

.contentConnexion #ContentSubmitConnexion:hover::before
{
	top: 0px;
	border-radius: 0;
}


div.contentConnexion input[type=CheckBox]
{
	text-align:center;
	transform:scale(1.5);
	-ms-transform:scale(2);
	-moz-transform:scale(2);
	-webkit-transform:scale(2);
	-o-transform:scale(2)
}

div.contentConnexion label
{
	margin-left:0.5vw;
	font-size:1vw
}

#Remember
{
	width:inherit;
	margin-left:0.5vw;
	padding-bottom:1vw;
}

/*************************************************************************************************

										BLOCKCHAIN

**************************************************************************************************/

#BlockChainContent
{
	background-image: url("../images/BgBlockChain.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 50vw;
	padding-top:5vw;
	display: flex;
}

#SearchContent
{
	width :max-content;
}

div.search-box
{
	margin-left:auto;
	margin-right: auto;
}

.search-box{
	width: fit-content;
	height: fit-content;
	position: relative;
  }
  .input-search{
	height: 50px;
	width: 50px;
	border-style: none;
	padding: 10px;
	font-size: 18px;
	letter-spacing: 2px;
	outline: none;
	border-radius: 25px;
	transition: all .5s ease-in-out;
	background-color: #22a6b3;
	padding-right: 40px;
	color:#fff;
  }
  .input-search::placeholder{
	color:rgba(255,255,255,.5);
	font-size: 18px;
	letter-spacing: 2px;
	font-weight: 100;
  }
  .btn-search{
	width: 50px;
	height: 50px;
	border-style: none;
	font-size: 20px;
	font-weight: bold;
	outline: none;
	cursor: pointer;
	border-radius: 50%;
	position: absolute;
	right: 0px;
	color:#ffffff ;
	background-color:transparent;
	pointer-events: painted;  
  }
  .btn-search:focus ~ .input-search{
	width: 300px;
	border-radius: 0px;
	background-color: transparent;
	border-bottom:1px solid rgba(255,255,255,.5);
	transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
.input-search:focus{
	width: 300px;
	border-radius: 0px;
	background-color: transparent;
	border-bottom:1px solid rgba(255,255,255,.5);
	transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

#topBlockChain, #SearchContent
{
	width:50vw;
	color:white;
	margin-top:6vw;
}

#topBlockChain
{
	margin-left:2vw;
}

#topBlockChain h1
{
	width: max-content;
	margin-left:auto;
	margin-right:auto;
	font-size: 3vw;
	font-weight: bold;
	margin-bottom:3vw;
}
#topBlockChain h2
{
	width:40vw;
	text-align: center;
	margin-right:auto;
	margin-left:auto;
}
#DiplomesContent 
{
	width:max-content;
	margin:auto;
}


  
/*************************************************************************************************

										LEADER BOARDS

**************************************************************************************************/

#fLeaderBoards{
	padding-top: 1vh;
	padding-left: 43vh;
	color:#ffffff;
}


#fLeaderBoards #TopTitle{
	margin-bottom: 5vh;
}

#fLeaderBoards #eleve{
	margin-left:2vh;
	margin-right: 62vh;

}

#fLeaderBoards table td{
	text-align: center;
	border: #fff;
	border-top: solid 1px;
	
	border-spacing: 2px;
	padding-left: 7vh;
	padding-right: 7vh;
	
}

#fLeaderBoards table{
	
	border-collapse: collapse;
}

#fLeaderBoards #tabs{
	display: flex;
	
}

#fLeaderBoards #leftTabLB{
	background: #542992;
	border-radius: 10px;
	margin-right: 2vh;
}

#fLeaderBoards #rightTabLB{
	background: #542992;
	border-radius: 10px;
}



/*************************************************************************************************

										Accueil Eleves

**************************************************************************************************/

#BodyAccueilEleves
{
	width:80vw;
	margin-left:20vw;
	color:white;
}

#ContentAccueilElevesTitre
{
	font-size:1.8vw;
	margin-top:2vw;
	font-weight: bold;
	width:max-content;
	color:white;
	margin-left:1vw;
}

#ContentAccueilElevesCours
{
	margin-left:3vw;
	height:30vw;
	width:40vw;
	display: flex;
}
#ContentAccueilElevesCoursGauche
{
	margin-top:5vw;
	width: 40vw;
}
#ContentAccueilElevesCoursDroite
{
	width:30vw;
}
#ContentAccueilElevesCours h1
{
	font-size:1.5vw;
}


/*************************************************************************************************

										Accueil Eleves

**************************************************************************************************/

#CoursBlock a{
	height: 6vw;
    width: 40vw;
	text-decoration: none;
}

#BodyAccueilProf
{
	width:80vw;
	margin-left:20vw;
	color:white;
}

#ContentAccueilProfTitre
{
	font-size:1.8vw;
	margin-top:2vw;
	font-weight: bold;
	width:max-content;
	color:white;
}

#ContentAccueilProfCours
{
	margin-left:3vw;
	height:30vw;
	width:40vw;
	display: flex;
}
#ContentAccueilProfCoursGauche
{
	margin-top:5vw;
	width: 40vw;
}
#ContentAccueilProfCoursDroite
{
	width:30vw;
}
#ContentAccueilProfCours h1
{
	font-size:1.5vw;
}

#NotificationsBlock
{
	margin-top:2vw;
	background-color: rgb(39,27,88);
	width:25vw;
	height:35vw;
	margin-left:6vw;
	margin-right:3vw;
	border-radius: 10px;
}

#NotificationTitre
{
	height:5vw;
}

#NotificationTitre label
{
	float: left;
	font-size:1vw;
	margin-top:1vw;
	margin-left:1vw;
}

#CoursBlock
{
	cursor: pointer;
	transition: transform 250ms;
	display: flex;
	flex-direction: column;
	height:6vw;
	width:40vw;
	background-color: rgb(84,41,146);
	margin-bottom:2vw;
	border-radius:10px;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#HeureCours
{
	float: left;
}

.switch, #ProfCours
{
	float: right;
}

#EnCoursDevContent{
	color: white;
	margin:auto;
	font-size:3vw;
	width:max-content;
}

#fEnCoursDev
{
	width: max-content;
	margin: auto;
	margin-top:20vw;
}

#CoursBlockStage1,#CoursBlockStage3
{
	width:95%;
	margin: auto;
}

#CoursBlockStage2
{
	width: max-content;
	margin-top:0.7vw;
	margin-bottom:0.7vw;
	margin-left:auto;
	margin-right:auto;
}

#CoursBlockStage1,#CoursBlockStage3
{
	margin-top:0.2vw;
	height:1.5vw;
}

#CoursBlock:hover
{
	transform: translateY(-10px);
}


/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 50px;
	height: 24px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  /* The slider */
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  .slider:before {
	position: absolute;
	content: "";
	height: 16px;
	width: 16px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  input:checked + .slider {
	background-color: #2196F3;
  }
  
  input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
	border-radius: 24px;
  }
  
  .slider.round:before {
	border-radius: 50%;
  }

#NotifBlock
{
	display: flex;
	height: 5vw;
}

#NotifBlock img
{
	width:3vw;
	height: 3vw;
}
#NotificationTitre
{
	color:#CCC;
	height: 3vw;
}

#NotificationBlockImage
{
	width: max-content;
	margin-top:auto;
	margin-bottom: auto;
	margin-left:1vw;
}

#NotificationBlockTexte{
	margin:1vw;
}

#NotificationBlockTexteStage1
{
	display: flex;
}

#ObjetNotif
{
	font-size:0.7vw;
	margin-top:0.2vw;
	margin-left: 1vw;
}

#NotificationBlockTexteStage2,#TimeNotif
{
	font-size:0.7vw;
}

/*************************************************************************************************

										Mon Compte

**************************************************************************************************/

#BodyMonCompte
{
	width:80vw;
	margin-left:20vw;
	color:white;
}

#ContentMonCompteTitre
{
	font-size:1.8vw;
	margin-top:2vw;
	font-weight: bold;
	width:max-content;
	color:white;
	margin-left:1vw;
}

#MonCompteContent
{
	background-image: url("../images/Friend2.png");
	background-repeat: no-repeat;
	background-size: 5vw;
	background-position: left;
	background-position-x: 1vw;
	margin-left:1vw;
	cursor: pointer;
	transition: transform 250ms;
	display: flex;
	margin-top:2vw;
	flex-direction: column;
	height:6vw;
	width:25vw;
	background-color: rgb(84,41,146);
	margin-bottom:2vw;
	border-radius:10px;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#MonCompteContent h1
{
	margin-left:9vw;
	font-size:2vw;
	letter-spacing: 2px;
	margin-top:auto;
	margin-bottom:auto;
}

#MonCompteInfo, #MonCompteCarac,#MonCompteInventaire
{
	padding-bottom:2vw;
	margin-left:1vw;
	cursor: pointer;
	transition: transform 250ms;
	display: flex;
	margin-top:2vw;
	flex-direction: column;
	width:25vw;
	background-color: rgb(84,41,146);
	margin-bottom:2vw;
	border-radius:10px;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#MonCompteInfo h1,#MonCompteCarac h1
{
	font-size:1.5vw;
	color:lightblue;
	margin-left:1vw;
}

#InputPseudo, #InputEmail, #InputTel, #InputLvl, #InputCoin, #InputPoint, #InputTaux
{
	margin:auto;
	cursor: pointer;
	transition: transform 250ms;
	display: flex;
	flex-direction: column;
	height:2vw;
	width:21vw;
	background-color: rgb(137, 93, 197);
	border-radius:5px;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	color:white;
	text-align: center;
}

#InputCoin{
	background-image: url("../images/icon_piece.png");
	background-repeat: no-repeat;
	background-size: 2vw;
	background-position: left;
	background-position-x: 15vw;
}

#InputPoint{
	background-image: url("../images/icon_pioche.png");
	background-repeat: no-repeat;
	background-size: 2vw;
	background-position: left;
	background-position-x: 15vw;
}

#InputTaux{
	background-image: url("../images/icon_pioche.png"), url("../images/icon_slash_blanc.png"), url("../images/icon_piece.png");
	background-repeat: no-repeat;
	background-size: 2vw;
	background-position: right;
	background-position-x: 13vw, 15vw, 17vw;
}

#MonCompteStage2
{
	display: flex;
}

#MonCompteCarac
{
	margin-left:15vw;	
}

#TitreCarac
{
	color:white!important;
	margin-bottom:2vw;
}

#MonCompteCaraStage1 ,#MonCompteCaraStage2, #MonCompteCaraStage3
{
	display: flex;
	margin-bottom:2vw;
}

#MonCompteCaraStage1 h1,#MonCompteCaraStage2 h1, #MonCompteCaraStage3 h1
{
	width:9vw;
}

#InputLvl
{
	width:3vw;
	margin-left: 3vw;
    margin-right: 5vw;

}
#MonCompteCaraStage1 img,#MonCompteCaraStage2 img, #MonCompteCaraStage3 img
{
	width:2vw;
	height:2vw;
	margin-top:1vw;
	margin-bottom:1vw;
}

#MonCompteInfo:hover,#MonCompteCarac:hover,#MonCompteInventaire:hover, #BoutiqueItemCard:hover, #BoutiqueBonAchatCard:hover, #ItemAchat:hover
{
	transform: translateY(-5px);
}
#MonCompteInventaireTabFull
{
	height:10vw;
	width:50vw;
	margin-top:auto;
	margin-bottom: auto;
	margin-left: 2vw;;
	cursor: pointer;
	transition: transform 250ms;
	display: flex;
	border: solid;
	border-color: rgb(208, 197, 223);
	border-radius:5px;
	color:white;
	text-align: center;
	flex-direction: column;
}

#MonCompteInventaireTab,#MonCompteInventaireTab2
{
	height:5vw;
	width:50vw;

	display: flex;
}
#MonCompteInventaireTab img:hover,#MonCompteInventaireTab2 img:hover
{
	transform: translateY(-10px);
}
#MonCompteInventaireTab img, #MonCompteInventaireTab2 img
{
	width: 4vw;
    height: 4vw;
    margin-left: 2vw;
}

#MonCompteInventaire
{
	width:65vw;
}


#MonCompteInventaire h1{
	margin-left:2vw;
}

#MonCompteInventaireContent
{
	display: flex;
}

#MonCompteInventaireBouton
{
	width:15vw;
	margin-left:1vw;

}

#AchatInventaire,#VenteInventaire
{
	background-color: transparent;
	border: none;
	color:white;
}

#MonCompteInventaireBoutonAchat:hover,#MonCompteInventaireBoutonVente:hover,#MonCompteContent:hover
{
	transform: translateY(-10px);
}

#MonCompteInventaireBoutonAchat,#MonCompteInventaireBoutonVente
{
	display: flex;
	flex-direction: column;
	margin-bottom:1vw;
	margin-left: auto;
	margin-right: auto;

	width : 90%;
	height:4vw;

	cursor: pointer;
	transition: transform 250ms;

	background-color: rgb(137, 93, 197);
	border-radius:5px;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	text-align: center;
}

#MonCompteInventaireBoutonAchat img,#MonCompteInventaireBoutonVente img
{
	width:2vw;
	height:2vw;
	margin: auto;
}


/*************************************************************************************************

										Cours Optionel

**************************************************************************************************/


#ContentCoursEleve
{
	margin-left:20vw;
	color:white;
}

#coursEleveTitre{
	font-size:1.8vw;
	margin-top:2vw;
	font-weight: bold;
	width:max-content;
	color:white;
	margin-left:1vw;
}

#DivListe{
	margin-left:3vw;
	height:30vw;
	width:40vw;
	display: flex;
}

#topListeCoursEleve
{
	width: max-content;
    height: 60vw;
}

#SubTitle{
	margin-top:5vw;
	width: 40vw;
}

#SubTitle h1{
    margin-bottom: 2vw;
}

#CoursBlockOptionel{
	cursor: pointer;
	transition: transform 250ms;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	height: 4.5vw;
	width:40vw;
	background-color: #542992;
	margin-bottom: 1vw;
	border-radius:10px;
}

#LaBourse, #LaBoutique{
	display: flex;
	margin-left: 2vw;
}

#BoutiqueItemCard
{
	margin-left: 1vw;
	padding-bottom:1vw;
	cursor: pointer;
	transition: transform 250ms;
	display: flex;
	margin-top:2vw;
	flex-direction: column;
	width:25vw;
	background-color: rgb(84,41,146);
	margin-bottom:2vw;
	border-radius:10px;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#CoursBlockOptionelStage0{
	display: flex;
	flex-direction: row;
	margin-left: 1vw;
	margin-right: 1vw;

	width : 7vw;
	height:3vw;

	cursor: pointer;
	transition: transform 250ms;

	background-color: #271B58;
	border-radius:15px;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#CoursBlockOptionelStage3{
	display: flex;
	flex-direction: row;
	margin-left: 1vw;
	margin-right: 2vw;

	width : 3.5vw;
	height:2.5vw;

	cursor: pointer;
	transition: transform 250ms;

	border-radius:70px;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	background-color : #5E68ED;
}

#CoursBlockOptionelStage0 img,#CoursBlockOptionelStage3 img
{
	width:2vw;
	height:2vw;
	justify-content: center;
	margin: auto;
}

#CoursBlockOptionelStage1{
	display: flex;
	flex-direction: row;
}

#CoursBlockOptionel:hover
{
	transform: translateY(-10px);
}

#NomMatiere{
	margin:auto;
	font-size: 1.3em;
}

#CoursBlockOptionelStage2{
	width: max-content;
	margin-top:0.7vw;
	margin-bottom:0.7vw;
	margin-left:auto;
	margin-right:auto;
}

/*************************************************************************************************

										Duels

**************************************************************************************************/

#ContentDuels
{
	margin-left: 20vw;
	margin-top:8vw;
	width:75vw;
	display: flex;
}
#ContentPersonnagesJoueur1
{
	margin-left:7vw;
}

#ContentPersonnagesJoueur1,#ContentPersonnagesJoueur2
{
	width:30vw;
	Height : 33vw;
	display: flex;
	flex-direction: column;

	transition: transform 250ms;

	background-color: #271B58;
	border-radius:15px;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	margin-right:3vw;
}

#ContentPersonnagesGauche,#ContentPersonnagesDroite
{
	display: flex;
	flex-direction: column;
	height:10vw;
	width:15vw;
	color:white;
	margin: auto;
}

#ContentPersonnagesGauche
{
    margin-top: 5vw;
}

#ContentPersonnagesGauche img
{
	width:7vw;
	height:7vw;
	margin-left:auto;
	margin-right: auto;
}

#ContentPersonnagesGauche label
{
	font-size:1vw;
	width:max-content;
	margin: auto;
}

#ContentPersonnagesDroite h1,#ContentPersonnagesGauche h1
{
	font-size:1.5vw;
	width:max-content;
	margin: auto;
	margin-bottom:1vw;
	margin-top:1vw;
}

#ContentPersonnagesDroite h2,#ContentPersonnagesGauche h2
{
	font-size:1vw;
	width:max-content;
	margin: auto;
	margin-bottom:1vw;
	margin-top:1vw;
}

#ContentPersonnagesJoueur1:hover,#ContentPersonnagesJoueur2:hover,#ContentGoDuels:hover
{
	transform: translateY(-10px);
}

#ContentVS
{	
	margin-left:2vw;
	color:white;
	display: flex;
	flex-direction: column;
	margin-right:4vw;
	width: 30vw;
	margin-top:9vw;
}

#ContentRouge
{
	padding-bottom: 2vw;
	background-color: #542992;
	border-radius:80px;
}

#ContentVS label,#ContentVS h1,#ContentVS h2
{
	font-size:2vw;
	margin-top:1vw;
	margin-left: 6.5vw;
}
#ContentVS label
{
	margin-left: 8vw;
}

#ContentVS h1
{
	font-size:1.5vw;
	margin-left: 4vw;
}

#ContentVS h2
{
	font-size:0.8vw;
	margin-top:0.2vw;
}

#ContentGoDuels
{
	margin-left:2vw;
	margin-top:2vw;
	font-weight: 900;
    font-size: 1vw;
    height: 3vw;
    color: #fff;
    letter-spacing: 1px;
    border-radius: 100px;
    justify-content: center;
    border: none;
    cursor: pointer;
	width : 15vw;
	background: #000428; /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #271B58, rgb(39,27,88)); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #271B58, rgb(39,27,88)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

#submitDuels
{
	background: transparent;
    border: none;
    color: white;
	height:3vw;
	width:15vw;
}

/*************************************************************************************************

										Questions

**************************************************************************************************/

#ContentQuestions
{
	display: flex;

	width:75vw;
	Height : 35vw;

	transition: transform 250ms;

	background-color: #271B58;
	border-radius:15px;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	margin-left:22vw;
	margin-top:10vw;
}

#ContentQuestionsJoueur
{
	width:12vw;
	height:35vw;
}

#ContentQuestionsAsk
{
	width:51vw;
	height:35vw;
}

#ContentPersoDuels
{
	width:12vw;
	height:10vw;
	margin-top:12vw;
	display: flex;
	flex-direction: column;
	color:white;
}
#ContentPersoDuels img
{
	width:5vw;
	height:5vw;
	margin-left: auto;
	margin-right: auto;
	margin-top:1vw;
}

#ContentPersoDuels label
{
	width: max-content;
	margin-left:auto;
	margin-right: auto;
}

#ContentQuestionsAskTitre
{
	width:max-content;
	margin-left: auto;
	margin-right: auto;
	margin-top:3vw;
	color:white;
	font-weight: bold;
	font-size:2vw;
}

#ContentQuestionsReponsesFull
{
	width:38vw;
	margin-left: auto;
	margin-right: auto;
	margin-top:5vw;
	color:white;
	border-radius: 10px;
	border:solid;
	border-color: white;
	padding-top:1vw;
	padding-bottom: 1vw;
}

#ContentQuestionsReponses
{

	width:35vw;
	height:1.6vw;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	border-radius: 10px;
	color:white;
	font-weight: bold;
	margin:1vw;
}

#ContentQuestionsReponses:hover
{
	transform: translateY(-10px);
}

.progress {
	background: rgba(255,255,255,0.1);
	justify-content: flex-start;
	border-radius: 100px;
	align-items: center;
	position: relative;
	padding: 0 5px;
	display: flex;
	height: 40px;
	width: 500px;
	margin-top:2vw;
	margin-left:9vw;
}

.progress-value {
	animation: load 3s normal forwards;
	box-shadow: 0 10px 40px -10px #fff;
	border-radius: 100px;
	background: #fff;
	height: 30px;
	width: 0;
}

@keyframes load {
	0% { width: 0; }
	100% { width: 68%; }
  }
  
#ItemAchat{
	margin-left:1vw;
	margin-right: 1vw;
	cursor: pointer;
	transition: transform 250ms;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top:1vw;
	background-color: rgb(39,27,88);
	border-radius:10px;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#ItemAchat img:first-child {
	margin-left: 1vw;
}

#ItemAchat img
{
	width:1.5vw;
	height:1.5vw;
	margin-top:1vw;
	margin-bottom:1vw;
}

#LibelleItem{
	font-size:1.25vw;
	color:lightblue;
	margin-left:1vw
}

#Prix{
	margin-left: 1vw;
	font-size:1.25vw;
}

#BourseCours h3{
	margin-left: 4.8vw;
}

#BourseEchange h3, #BoutiqueItem h3{
	margin-left: 1vw;
}

#BoutiqueBonAchat{
	margin-left: 5vw;
}

#BoutiqueBonAchatCard
{
	padding-bottom:1vw;
	cursor: pointer;
	transition: transform 250ms;
	display: flex;
	margin-top:2vw;
	flex-direction: column;
	width:44vw;
	background-color: rgb(84,41,146);
	margin-bottom:2vw;
	border-radius:10px;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#ItemPrixComplet{
	display: flex;
	margin-right: 1vw;
}

/*************************************************************************************************

										Questions

**************************************************************************************************/

#ContenuGeneral{
	margin-left:20vw;
	color:white;
}