@charset "ISO-8859-1";
* {
	margin: 0;
	padding: 0;
}
html, body 
{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;	background-color: black;
}

main {
    width: 100%;
    min-height: 50vw;
    margin: auto;
}


/****************************************************
_   _               _                
| \ | |             | |               
|  \| | __ ___   __ | |__   __ _ _ __ 
| . ` |/ _` \ \ / / | '_ \ / _` | '__|
| |\  | (_| |\ V /  | |_) | (_| | |   
\_| \_/\__,_| \_/   |_.__/ \__,_|_|   
												
****************************************************/
#Navigation{
	background-color: transparent;
	width: calc(100% - 48px);
	height: 2vw;
	padding-left: 24px;
	padding-right: 24px;
	padding-top: 12px;
	padding-bottom: 12px;
	position: fixed;
	top: 0px;
	z-index: 999999;
	background-image: url("../images/Logo.png");
	background-repeat: no-repeat;
	background-position: left;
	background-position-x: 1vw;
	font-size:1vw;

	background-size: 3vw;
}

#menuNav {
	width: fit-content;
	float: right;
}

#menuNav  ul {
	display: flex;
	margin-left: 230px;
}
#menuNav li {
	display: table-cell;
}

#menuNav a, #menuNav span {
	font-weight: 700;
	color: white;
	text-decoration: none;
	min-width: 40px;
	min-height: 40px;
	display: block;
	line-height: 40px;
	margin-right: 1vw;
	transition: all 0.2s ease-in-out;
}
#menuNav #connexion {
	background-image: url("../images/Login.png");
	background-repeat: no-repeat;
	width:2vw;
	height: 2vw;
	background-size: 2vw;
}


/****************************************************
______          _            
|  ___|        | |           
| |_ ___   ___ | |_ ___ _ __ 
|  _/ _ \ / _ \| __/ _ \ '__|
| || (_) | (_) | ||  __/ |   
\_| \___/ \___/ \__\___|_|  

****************************************************/


footer .footerdown a {
	text-decoration: none;
}

footer .footerdown {
    padding-top: 1vw;
    margin-bottom: 2vw;
    text-align: center;
    font-size: 1vw;
    display: flex;
    flex-direction: column;
    height: 4vw;
	color: white;
}

#LogoFooterContent
{
	display: flex;
	width:100vw;
	height: 40vw;
	margin-bottom:2vw;
}

#LogoFooter1, #LogoFooter2, #LogoFooter3, #LogoFooter4
{
	width:25vw;
}

#fFooter img{
	width:8vw;
	height : 6vw;
}

#LogoFooter3, #LogoFooter1
{
	filter:invert(100%)
}

footer label{
	padding-bottom:2vw;
}

/*****************************************************************************Accueil***************************************************************/
/**************************************************************************************************************************************************/

#topAccueil
{
	height : 50vw;
	display: flex;
	flex-direction: row;
	background-image: url("../images/TopAccueil.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#TopTexte
{
	padding-top:10vw;
	height:10vw;
	width:40vw;
	margin-left:15vw;
	color:white;
}

#TopTexte h1{
	font-size:5vw;
	font-weight: bold;
}

#TopTexte h2{
	font-size:2vw;
	margin-top:3vw;
	font-weight: 600;
}

#TopTexte h3{
	font-size:1.5vw;
	margin-top:3vw;
	font-weight: 400;
	margin-bottom: 2vw;
}

#bodyAccueil
{
	height : 50vw;
	color : white;
}

#bouttonAccueil, #bouttonAccueilBuy
{
    font-weight: 900;
    font-size: 1vw;
    height: 3vw;
    color: #fff;
    letter-spacing: 1px;
    border-radius: 100px;
    justify-content: center;
    border: none;
    cursor: pointer;
	width : 15vw;
	background: #000428; /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, rgb(149,24,245), rgb(39,27,88)); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, rgb(149,24,245), rgb(39,27,88)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
	box-shadow: 0 12px 24px -6px rgb(255 74 158 / 20%);
	padding: 12px 32px;
}

#bodyAccueil
{
	background-image: url("../images/AccueilBlock1.jpg");
	background-size: cover;
	background-repeat: round;
	background-position: center;
}

#AccueilBlock1
{
	width:max-content;
	margin: auto;
	font-weight: bold;
	letter-spacing: 5px;
	margin-bottom:2vw;
	font-size:2vw;
}
#AccueilBlock2
{
	width:max-content;
	margin: auto;
	width:50vw;
	text-align: center;
	font-size:1.2vw;
}
#AccueilBlock3,#AccueilBlock4
{
	width: 50vw;
}

#AccueilBlock4 img
{
  width:30vw;
  height:25vw;
  float: right;
  margin-right:2vw;
  margin-top:5vw;
}

#AccueilBlock3 video{
	width:47vw;
	margin-left:27vw;
}

#AccueilBlock3-4
{
	display: flex;
	margin-top: 5vw;
}

#bodyAccueil2
{
	display:flex;
	flex-direction: column;
	height:70vw;
	color:white;
}

#bodyAccueil2 h1, #bodyAccueil3 h1
{
	padding-top:1vw;
	padding-bottom:1vw;
	font-size:2vw;
	width:max-content;
	margin:auto;
	letter-spacing: 5px;
}

#bodyAccueil2 h2, #bodyAccueil3 h2
{
	font-size:1vw;
	width:50vw;
	margin:auto;
	text-align: center;
	letter-spacing: 5px;
}

#First , #Second
{
	width : 90vw;
	height:40vw;
	margin:auto;
	display: flex;
	background-image: url("../images/BodyAccueil2.jpg");
	background-size: cover;
	background-repeat: round;
	background-position: center;
}

#First-Block1, #First-Block2, #First-Block3, #Second-Block1, #Second-Block2, #Second-Block3
{
	width: 30vw;
}

#First img, #Second img{
	margin-left:7vw;
	width:15vw;
}

#First h2, #Second h2{
	width:25vw;
}

#bodyAccueil3
{
	height:50vw;
	background-image: url("../images/BodyAccueil3.jpg");
	background-size: cover;
	background-repeat: round;
	background-position: center;
	color:white;
	margin: auto;
}

#TarifContent
{
	display: flex;
	width:60vw;
	margin:auto;
	margin-top:5vw;
}

#PrixTarifGauche, #PrixTarifDroite
{
	height:30vw;
	width:30vw;
	background-color:black;
	border-radius:10px;
}

#PrixTarifGauche
{
	background: #000428; /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, rgb(149,24,245), rgb(39,27,88)); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, rgb(149,24,245), rgb(39,27,88)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#PrixTarifGauche h1, #PrixTarifDroite h1
{
	font-size : 2vw;
	font-weight: bold;
	background: -webkit-linear-gradient(rgb(99, 97, 97),#eee);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#PrixTarifGauche h2,#PrixTarifDroite h2
{
	font-size : 3vw;
	font-weight: bold;
	width: max-content;
	margin: auto;
	margin-bottom:3vw;	
}

#PurchaseContent{
	width: max-content;
	margin-top: 1vw;
	margin-left: auto;
	margin-right: auto;
}

#PurchaseItems h2{
	background-color: transparent;
    width: 100%;
	height:3vw;
    outline: 0;
    font-size: 1vw;
	border-width: 0.2vw;
	text-align: center;
	vertical-align: middle;
	margin-bottom:0px;
	padding-top:1vw;
	background-image: url("../images//Check.png");
	background-size: 2vw;
	background-repeat: no-repeat;
	background-position-x: 27vw;
	background-position-y: center;
}


/*************************************************************************************************

										CONNEXION

**************************************************************************************************/


div.contentConnexion
{
	width:50%;
	margin-left:28vw;
	text-align:center;
	height:30vw;
	align-items: center;
	padding-top: 10vw;
}

div.connexion
{
	height:30vw;
}

.contentConnexion #MidConnexion h2
{
	width:50%;
	margin-left: 30%;
}

.contentConnexion #GaucheConnexion 
{
	width : 50%;
	height:31vw;
	background-image: url("../images/Connexion.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.contentConnexion #DroiteConnexion 
{
	width : 50%;
	background-color: white;
}

.contentConnexion #MidConnexion
{
	display: flex;
	flex-direction: row;
}

.contentConnexion #DroiteConnexion h1
{
	margin-top:20%;
	margin-bottom:10%;
	width: fit-content;
	margin-left: 1vw;
	font-size: 2vw;
}

.contentConnexion #DroiteConnexion h2
{
	margin-left:5%;
	text-align: left;
	font-size:1vw;
}

.contentConnexion #DroiteConnexion input[type=text], .contentConnexion #DroiteConnexion input[type=Password]
{
    background-color: transparent;
    width: 90%;
    border-color: transparent transparent #ccc transparent;
    padding-bottom: 1%;
    outline: 0;
    font-size: 1vw;
	margin-bottom:2vw;
	border-width: 0.2vw;
	margin-top: 1vw;
}

.contentConnexion #DroiteConnexion input[type=submit]
{
	background-color: transparent;
	border: none;
	font-weight: bold;
	font-size: 1vw;
	color: white;
	width: 10vw;
	height: 2vw;
}

.contentConnexion #ContentSubmitConnexion 
{
	width: 10vw;
	height: 2vw;
	font-size: 1.3rem;
	font-family: arial, sans-serif;
	font-weight: 700;
	position: relative;
	color: white;
	z-index: 0;
	background: black;
	overflow: hidden;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
	margin-top:1vw;
}


.contentConnexion #ContentSubmitConnexion::before
{
	content: '';
	position: absolute;
	top: 2vw;
	left: 0;
	width: 100%;
	height: 100%;
	background: #892cdc;
	border-radius: 50% 50% 0% 0%;
	z-index: -1;
	transition: all .5s;
}

.contentConnexion #ContentSubmitConnexion:hover::before
{
	top: 0px;
	border-radius: 0;
}


div.contentConnexion input[type=CheckBox]
{
	text-align:center;
	transform:scale(1.5);
	-ms-transform:scale(2);
	-moz-transform:scale(2);
	-webkit-transform:scale(2);
	-o-transform:scale(2)
}

div.contentConnexion label
{
	margin-left:0.5vw;
	font-size:1vw
}

#Remember
{
	width:inherit;
	margin-left:0.5vw;
	padding-bottom:1vw;
}

/*************************************************************************************************

										BLOCKCHAIN

**************************************************************************************************/